<nav class="navbar navbar-expand-lg bg-black position-fixed w-100 top-0 " style="z-index: 10;">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" style="color: white;">
        <i class="fa-solid fa-bowl-food text-warning me-3"></i>
        Recipe-World</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
                <input style="width: 350px;"  class="form-control me-2" type="search" placeholder="Search Recipe By Name!!!" aria-label="Search">
            </li> -->
            <!-- <li class="nav-item">
                <a class="btn btn-outline-secondary" routerLink="/wishlist">
                    <i class="fa-solid fa-heart text-danger"></i> wishlist <span class="badge text-bg-secondary">4</span>
                </a>
                [(ngModel)]="searchKey"
            </li> -->
            
          
        </ul>
        
      </div>
    </div>
  </nav>